Repository trumpee/masstransit-messages, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, repo-configs, assignment

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Push pipeline
  .github/workflows/nuget-publish-release.yml
Labels: ci/cd

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Setup NuGet deployment pipelines (#4)
  .github/workflows/nuget-publish-release.yml
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: ci/cd

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Add value & value type to substitute values
  .github/workflows/nuget-publish-release.yml
  Trumpee.MassTransit.Messages/Notifications/Variable.cs
Labels: ci/cd

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Add value & value type to substitute values (#5)
  .github/workflows/nuget-publish-release.yml
  Trumpee.MassTransit.Messages/Notifications/Variable.cs
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: ci/cd

refactor pipeline and reset valid version
  .github/workflows/nuget-publish.yml
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: ci/cd

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Fix CI and versioning (#6)
  .github/workflows/nuget-publish.yml
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: ci/cd

Update .gitignore
  .gitignore
Labels: repo-configs

Fix spelling
  .gitignore
Labels: repo-configs

Add Recipient record
  Trumpee.MassTransit.Messages/Notifications/Recipient.cs
Labels: none

Add recipient to notification record
  Trumpee.MassTransit.Messages/Notifications/Notification.cs
Labels: none

Use records instead classes
  Trumpee.MassTransit.Messages/Notifications/Content.cs
  Trumpee.MassTransit.Messages/Notifications/Variable.cs
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Add validation analytics events
  Trumpee.MassTransit.Messages/Event.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationFailedEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationFailedPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationPassedEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationPassedPayload.cs
Labels: none

Add template analytics events
  Trumpee.MassTransit.Messages/.gitignore
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateFilledEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateFilledPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFilledEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFilledPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFoundEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFoundPayload.cs
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Update Trumpee.MassTransit.Messages.csproj
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Update events structure & factories
  Trumpee.MassTransit.Messages/Event.cs
  Trumpee.MassTransit.Messages/Notifications/Template/Template.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateFilledEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFilledEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFilledPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFoundEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/Validation.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationFailedEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationPassedEvent.cs
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Add notification ID
  Trumpee.MassTransit.Messages/Notifications/Notification.cs
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Bump NuGet Package version
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Cherry-Pick analytical events structure
  Trumpee.MassTransit.Messages/Event.cs
  Trumpee.MassTransit.Messages/Notifications/Template/Template.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateFilledEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFilledEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFilledPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFoundEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/Validation.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationFailedEvent.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationPassedEvent.cs
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Re-organize and document existing events
  Trumpee.MassTransit.Messages/Analytics/AnalyticsEvent.cs
  Trumpee.MassTransit.Messages/Analytics/AnalyticsMetadataBuilder.cs
  Trumpee.MassTransit.Messages/Analytics/AnalyticsMetadataKeys.cs
  Trumpee.MassTransit.Messages/Analytics/Template/Payloads/TemplateFilledPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Template/Payloads/TemplateNotFilledPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Template/Payloads/TemplateNotFoundPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Template/Template.cs
  Trumpee.MassTransit.Messages/Analytics/Validation/Payloads/ValidationFailedPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Validation/Payloads/ValidationPassedPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Validation/Validation.cs
  Trumpee.MassTransit.Messages/Analytics/Validation/ValidationInfoDto.cs
  Trumpee.MassTransit.Messages/Notifications/Template/Template.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateFilledPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFilledPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Template/TemplateNotFoundPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/Validation.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationFailedPayload.cs
  Trumpee.MassTransit.Messages/Notifications/Validation/ValidationPassedPayload.cs
Labels: none

Add User Analytics events
  Trumpee.MassTransit.Messages/Analytics/Users/Payloads/UserActionPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Users/Payloads/UserSignInPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Users/Payloads/UserSignUpPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Users/User.cs
Labels: none

AnalyticsEvent and all payloads are immutable
  Trumpee.MassTransit.Messages/Analytics/AnalyticsEvent.cs
  Trumpee.MassTransit.Messages/Analytics/Template/Payloads/TemplateFilledPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Template/Payloads/TemplateNotFilledPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Template/Payloads/TemplateNotFoundPayload.cs
  Trumpee.MassTransit.Messages/Analytics/Users/Payloads/UserSignInPayload.cs
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Add public ctor to AnalyticsEvent.cs
  Trumpee.MassTransit.Messages/Analytics/AnalyticsEvent.cs
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

Add notifications' events
  Trumpee.MassTransit.Messages/Analytics/Notifications/Notification.cs
  Trumpee.MassTransit.Messages/Analytics/Notifications/Payloads/NotificationCreated.cs
  Trumpee.MassTransit.Messages/Analytics/Notifications/Payloads/NotificationSent.cs
Labels: none

Bump versions by dotnet-bump-version.
  Trumpee.MassTransit.Messages/Trumpee.MassTransit.Messages.csproj
Labels: none

.github/labeler.yml:

documentation:
  - 'readme.md'
  - './*.md'

ci/cd:
  - '.github/workflows/*'

repo-configs:
  - '*'
  - '.gitignore'
  - '.github/*'

assignment:
  - 'src/**'
